<h1> Login </h1>

<%=  form_for :user do |f|   %>
<div class="input-field">
    <%= f.text_field :username %><br><br>
    <%= f.label :username %>
</div>
<div class="input-field">
    <%= f.email_field :email %><br><br>
    <%= f.label :email %>
</div>
<div class="input-field">
    <%= f.password_field :password %><br><br>
    <%= f.label :password %>

    <input tpye="submit" value="Login" class="btn light-blue">
</div>

    <% end %> 