
<h2> Add a comment to this recipe</h2>

<%= render partial: "layouts/errors", locals: {object: @comment} %>
<%= form_for([@comment.recipe,@comment]) do |f| %>

    <% if !@comment.recipe %>
    <%= f.label :recipe %>
    <%= f.collection_select :recipe_id, Recipe.all, :id, :title %><br>
    <% else %>
    <%= f.hidden_field :recipe_id %>
    <% end %>
    <%= f.label :content %>
    <%= f.text_area :content %><br><br><br>

    <%= f.submit %>

    
<% end %>

