<h3> Make Changes to <%= @recipe.title%> </h3>

<%= form_for @recipe do |f| %>
        <%= f.label "Title of your Recipe" %>
        <%= f.text_field :title%><br/>      
        

        <%= f.label :Directions %> for <%=@recipe.title%>
        <%= f.text_area :content %><br/><br>

      
        <%= f.submit %><br><br>
      <% end %>
    <%= form_tag recipe_path(@recipe.id), method: "delete" do %>
  <%= submit_tag "Delete #{@recipe.title}" %>
<% end %>
     