<h1> Create A New Recipe </h1>

<%= render partial: "layouts/errors", locals: {object: @recipe} %>


<%= form_for @recipe do |f| %>
        <%= f.label "Title of your Recipe" %>
        <%= f.text_field :title%><br/>
      
        <%= f.fields_for :ingredients do |i| %><br>
          <%= i.label :name%>
          <%= i.text_field :name %><br/><br>
      
          <%= i.label :quantity %>
          <%= i.number_field :quantity %><br/><br>

          <%= i.label :measurement %>
          <%= i.text_field :measurement %><br/><br>       
        <% end %>
                 

        <%= f.label :Directions %>
        <%= f.text_area :content %><br/><br>


       
        <%= f.submit %><br><br>
      <% end %>

       <%= link_to "Add another ingredient", new_recipe_ingredient_path(@recipe.ingredients)%> |<br><br>     
      