<h1> Recipe Details </h1>

<h2><%= @recipe.title %> </h2>
<h2>Posted By: <%= link_to @recipe.user.username, user_path(@recipe.user)%></h2>
<ol><% @recipe.ingredients.each do |i| %><br>
  <li>  <%= i.name %><br> </li>
    <% end %>
    </ol>
<p>Content: <%= @recipe.content %></p><br>



<%= link_to "See All Comments", recipe_comments_path(@recipe)%>| <br>
<%= link_to "Add a new comment", new_recipe_comment_path(@recipe)%>|<br>
<%= link_to "See all ingredients here", recipe_ingredient_path(@recipe)%>

<h4>Comments: </h4>
<% @recipe.comments.each do |com| %>
    <%=com.user.username%> says: <br>"<%=link_to com.content, comment_path(com)%>"<br><br>
    <% end %> <br>

    
 
 