<h1 class="center", class="orange-text"> Recipe Details for <%=@recipe.title%> </h1>



<h5>Posted By: <%= link_to @recipe.user.username, user_path(@recipe.user)%></h5>
<h4 class="green-text">Here is what you'll need:</h4><ol><% @recipe.ingredients.each do |i| %><br>
  <li>  Ingredient: <%= link_to i.name, edit_recipe_ingredient_path(@recipe.id, i) %><br> Quantity:  <%=i.quantity %> <br> Measurement: <%= i.measurement %> <br> </li> 
<% end %>
</ol> </p>

  

<p>Directions: <%= @recipe.content %></p><br>


<%= link_to "See All Comments", recipe_comments_path(@recipe)%><br>
<%= link_to "Add a new comment", new_recipe_comment_path(@recipe)%><br>  
<%= link_to "Add another ingredient", new_recipe_ingredient_path(@recipe)%> |<br><br> 


<%= form_tag recipe_path(@recipe.id), method: "delete" do %>
  <%= submit_tag "Delete #{@recipe.title}" %>
<% end %>