<h3> Edit Ingredient <%= @ingredient.name%>  </h3>

    <%= form_for @ingredient do |f| %>            
        
          <%= f.label :name%>
          <%= f.text_field :name %><br/><br>
      
          <%= f.label :quantity %>
          <%= f.number_field :quantity %><br/><br>

          <%= f.label :measurement %>
          <%= f.text_field :measurement %><br/><br>                   
   
      
        <%= f.submit %><br><br>
      <% end %>

  <%= form_tag ingredient_path(@ingredient.id), method: "delete" do %>
  <%= submit_tag "Delete #{@ingredient.name}" %>
<% end %>








    
     


