<h1> Edit Ingredients </h1>

<%= form_for @ingredient do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :measurement %>
    <%= f.text_field :measurement %>
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>

    <%= f.submit %> 
    <% end %> 