<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  
    <%= yield %>
  </body>
  <div> 
  <% if logged_in? %> 
  <%=link_to "Add a new Recipe", new_recipe_path %> |
  <%=link_to "All Recipes", recipes_path %>|  
  <%= link_to "Home", user_path(current_user)%>
  <%=link_to "Logout", logout_path %> 
  <% end %>
  </div>


  <div> 
  <% if !logged_in? %> 
  <%= link_to "Signup Here!", signup_path %> | 
  <%= link_to "Login Here!", login_path %>
  <% end %>
  </div>

  <div>
  <% if flash[:message] %>
    <%= flash[:message] %>
    <% end %>
<%= @error %> 
  </div>
  <%= link_to "Login with Google!", '/auth/google_oauth2' %>
</html>
